body{
    margin: 0;
    font-family: Arial, sans-serif;
    background: url('back.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 110vh;
    color: white;
    display: grid;
    place-content: center;
}
.illustration{
    margin-top: 5px;
    height: 30px;
    width: 600px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
h1 {
    font-size: 1.25rem;
    text-align: center;
    color: black;
}
.container{
    margin-top: 10px;
    height: 600px;
    width: 600px;
    display: grid;
    grid-template-columns: repeat(2, 300px);
    grid-template-rows: repeat(2, 300px);
    margin-bottom: 20px;
    
}
.firstgame,.secondgame, .thirdgame,.fourthgame{
    display: grid;
}
.firstgame .img-maj , .secondgame .img-2048 , .thirdgame .img-wor, .fourthgame .img-lot{
    height: 250px;
    width: 250px;
    margin: auto;
    cursor: pointer;
}

.firstgame .img-one, .secondgame .img-two, .thirdgame .img-three, .fourthgame .img-four{
    height: 40px;
    width: 40px;
}
.btn{
    display: flex;
    align-items: center;
    justify-content:center ;
    gap: 80px;
    width: 600px;
}
.start{
    height: 30px;
    width: 150px;
    font-size: 1.5rem;
    background-color: #72b86f;
    border: black;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    
}
.modal1 {
    position: fixed;
    top: 50%;
    left: 50%;
    height: 300px;
    width: 300px;
    transform: translate(-50%, -50%);
    background: rgb(144, 142, 199);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: none;
}
.modal1.active {
    display: block;
}
.rule1{
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.modal2 {
    position: fixed;
    top: 50%;
    left: 50%;
    height: 300px;
    width: 300px;
    transform: translate(-50%, -50%);
    background: rgb(144, 142, 199);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: none;
}
.modal2.active {
    display: block;
}
.rule2{
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.modal3 {
    position: fixed;
    top: 50%;
    left: 50%;
    height: 300px;
    width: 300px;
    transform: translate(-50%, -50%);
    background: rgb(144, 142, 199);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: none;
}
.modal3.active {
    display: block;
}
.rule3{
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.modal4 {
    position: fixed;
    top: 50%;
    left: 50%;
    height: 300px;
    width: 300px;
    transform: translate(-50%, -50%);
    background: rgb(144, 142, 199);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: none;
}
.modal4.active {
    display: block;
}
.rule4{
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    width: 30px;
    height: 30px;
}